<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
  <add key="basicURL" value="http://localhost:5000/movie/"/>
  <add key="pathIcon" value="C:\Users\Hector\source\repos\hepl-csa-student20\laboprognet-2326-bedeschi-cavalcanti\GUImovieWPF\Assets\Icons\"/>
  <add key="pathApi" value="https://api.themoviedb.org/3/movie/"/>
   <add key="pathImg" value="https://image.tmdb.org/t/p/w92"/>
    <add key="pathImgWeb" value="https://image.tmdb.org/t/p/w500"/>
  <add key="apiKey" value="?api_key=b61acbc4c15132b3cb5328f331b3c034"/>
    <add key="apiActeur" value="https://api.themoviedb.org/3/person/"/>
    <add key="apiActeurPic" value="https://image.tmdb.org/t/p/w185/" />
         </appSettings>
</configuration>